<!DOCTYPE html>
<html lang="en">

<head>
    <title>Money House form Theme</title>
</head>

<body>

   <!-- /#wrapper -->
    <form name="form1" method="post" action="login">  
        <table width="320" height="153" border="0" align="center" class="BorderSyle">  
            <tr>  
                <td width="89" align="right">用户名：</td>  
                <td width="215">  
                    <input name="userName" type="text" class="BorderSyle" id="textUserName"></td>  
            </tr>  
            <tr>  
                <td align="right">密　码：</td>  
                <td>  
                    <input name="userPwd" type="text" id="textUserPwd"></td>  
            </tr>  
            <tr>  
                <td colspan="2" class="auto-style1">  
                    <input type="submit" name="Submit" value="提交">  
                    <input type="submit" name="Submit2" value="重置"></td>  
            </tr>  
        </table>  
    </form>
</body>

</html>
